<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="kr.co.anylogic.joystick" version="1.0.0">
   <name>GigaeyesJoystick</name>
   <js-module name="GigaeyesJoystick" src="www/gigaeyesjoystick.js">
      <clobbers target="cordova.plugins.gigaeyesjoystick" />
   </js-module>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="GigaeyesJoystick">
            <param name="ios-package" value="GigaeyesJoystick" />
         </feature>
      </config-file>
      <header-file src="src/ios/GigaeyesJoystick.h" />
      <source-file src="src/ios/GigaeyesJoystick.m" />
      <header-file src="src/ios/JoystickViewController.h" />
      <source-file src="src/ios/JoystickViewController.m" />
      <resource-file src="src/ios/JoystickViewController.xib" />
      <resource-file src="src/ios/res/joystick.png" />
      <framework src="libiconv.tbd" />
      <framework src="libz.tbd" />
      <framework src="libbz2.tbd" />
      <framework src="CoreMedia.framework" />
      <framework src="AudioToolBox.framework" />
      <framework src="VideoToolBox.framework" />
      <framework src="src/ios/include/SGPlatform.framework" custom="true" />
      <framework src="src/ios/include/SGPlayer.framework" custom="true" />
   </platform>
   <platform name="android">
      <framework src="com.android.support.constraint:constraint-layout:1.0.2" />
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="GigaeyesJoystick">
            <param name="android-package" value="kr.co.anylogic.joystick.GigaeyesJoystick" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml">
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
         <uses-permission android:name="android.permission.WAKE_LOCK" />
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
         <uses-permission android:name="android.permission.RECORD_AUDIO" />
         <uses-permission android:name="android.permission.CAMERA" />
      </config-file>
       <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="kr.co.anylogic.joystick.JoystickHandlerActivity"></activity>
      </config-file>
      <source-file src="src/android/res/drawable/joystick.png" target-dir="res/drawable" />
      <source-file src="src/android/res/layout/joystick_overlay.xml" target-dir="res/layout" />
      <source-file src="src/android/res/layout/gigaeyes_joystick.xml" target-dir="res/layout" />
      <source-file src="src/android/GigaeyesJoystick.java" target-dir="src/kr/co/anylogic/joystick" />
      <source-file src="src/android/JoystickEvents.java" target-dir="src/kr/co/anylogic/joystick" />
      <source-file src="src/android/JoystickHandlerActivity.java" target-dir="src/kr/co/anylogic/joystick" />
   </platform>
</plugin>